/* Custom Czcionka od Robloxa */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* Ustawienie niestandardowej czcionki jako domyślnej dla całej strony */
* {
    font-family: 'Noto Sans', sans-serif;
}

/* Ustawienie tła strony na zdjęcie i powiększenie tła */
body {
    background-image: url('../zdjecia/tlo.jpg');
    background-size: 150%;
}
  
/* Dodanie przyciemnienia na tło za pomocą gradientu liniowego */
body::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.4));
    z-index: -1;
}

/* Container wyśrodkowany w pionie */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}

/* Logo pomniejszone   */
.logo {
    max-width: 100%;
    transform: scale(0.2);
}

/* Style dla przycisków */
.container > button,
form > button,
form > input,
.containerRejestracja > input {
    padding: 10px;
    width: 325px;
    font-size: 18px;
    margin: 5px 0;
    background-color: white;
    border: 1px solid white;
    border-radius: 0.4rem;
    cursor: pointer;
    display: block;
    font-weight: bold;
}

/* Specjalne style dla przycisku rejestracji */
.rejestracjaPrzycisk {
    background-color: #08b46c;
    border: none !important;
    color: white !important;
    width: 97%;
}

/* Zwiększenie przezroczystości po najechaniu na przycisk */
.container > .rejestrPrzycisk:hover,
form > .zalogujPrzycisk:hover,
.rejestracjaPrzycisk:hover {
    opacity: 0.8;
}

/* Specjalne style dla przycisku logowania */
.container > .logPrzycisk {
    background-color: rgba(255, 255, 255, 0.0); /* białe tło z przezroczystością 50% */
    color: rgb(201, 201, 201);
}

/* Zwiększenie przezroczystości po najechaniu na przycisk */
.container > .logPrzycisk:hover {
    opacity: 0.65;
}

/* Style dla pól tekstowych */
form > input,
.containerRejestracja > input {
    width: 93.5%;
    cursor: auto;
    background-color: rgba(0, 0, 0, 0.75);
    border: 1.5px solid rgb(129, 129, 129);
    color: white;
    font-weight: normal;
}

/* Kolor placeholder */
form > input::placeholder,
.containerRejestracja > input::placeholder {
    color: rgb(129, 129, 129);
}

/* Zwiększenie grubości obramowania po najechaniu na pole tekstowe */
form > input:hover {
    border-color: white;
}

/* Przycisk powrotu do strony głównej */
.powrot{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 40px;
    color: white;
    text-decoration: none;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container rejestracji */
.containerRejestracja {
    height: 93vh;
    display: flex;
    flex-direction: column;
    border-radius: 0.4rem;
    width: 30%;
    margin: 0 auto;
    background-color: #3a3b3d;
    padding: 0 20px 20px;
    color: white;
}

/* Taki nagłówek u góry containera od rejestracji */
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    font-size: 150%;
    padding: 2% 0 2% 0;
}

/* klasa od wyśrodkowania elementu w headerze containera od rejestracji  */
.srodekHeader {
    flex-grow: 1;
    text-align: center;
}

/* przycisk powrótu do strony głównej, który znajduje się w środku containera */
.powrotRejestracja a {
    text-decoration: none;
    color: white;
}

/* Po prostu zwiększenie HR bo przez padding w containerze rejestracji nie chciało działać */
hr {
    width: 100%;
}

/* Odwrócenie koloru ikonki kalndarza w input date, domyślny kolor czarny, teraz biały */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

/* Przyciski wyboru płci */
.plecPrzyciskM,
.plecPrzyciskK {
    padding: 10px;
    width: 270px;
    font-size: 18px;
    background-color: white;
    border: 1px solid white;
    border-radius: 0.4rem;
    cursor: pointer;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.50);
    color: rgb(129, 129, 129);
}

/* Przycisk Mężczyzny po kliknięciu */
.plecPrzyciskM.wybrano > i {
    color: #0390fc;
}

/* Przycisk kobiety po kliknięciu */
.plecPrzyciskK.wybrano > i {
    color: #f003fc;
}

/* Tło przycisku po kliknięciu */
.wybranoTlo {
    background-color: white;
}

/* Container powiadomienia */
.powiadomienie {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    z-index: 9999;
}

/* Tytuł powiadomienia */
.powiadomienie h2 {
    text-align: center;
    margin-top: 0;
}

/* Treść powiadomienia */
.powiadomienie p {
    text-align: justify;
    margin: 10px 0;
}

/* Tło powiadomienia */
.powiadomienieTlo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 9998;
}

.powiadomienieTlo.aktywne {
    display: block;
}